---
import Base from "../layouts/Base.astro";
const { frontmatter } = Astro.props;
---

<Base pageTitle={frontmatter.title}>
  <p class="description"><em>{frontmatter.description}</em></p>
  <p class="author">Written by {frontmatter.author}</p>
  <img src={frontmatter.image.url} width="500" alt={frontmatter.image.alt} />
  <div class="tags">
    {
      frontmatter.tags.map((tag: string) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
  <slot />
  <p class="pubDate">
    Published on: {frontmatter.pubDate.toString().slice(0, 10)}
  </p>
</Base>
<style>
  a {
    color: #f1f1f1;
  }

  .tags {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    color: #f8fcfd;
  }

  .tag a {
    color: #f8fcfd;
  }
  .pubDate {
    margin-top: 2rem;
  }

  .description {
    margin-bottom: 2rem;
    margin-top: -1rem;
  }
</style>
